.page__footer {
    margin: 70px auto 0;
}

@media (max-width: 1279px) {
    .page__footer {
        margin: 75px 47px 0;
    }
}

@media (max-width: 1023px) {
    .page__footer {
        margin: 72px 23px 0;
    }
}

@media (max-width: 767px) {
    .page__footer {
        margin-top: 53px;
        margin-left: 16px;
    }
}
