@import "./__item/photo-grid__item.css";


.photo-grid{
	display: grid;
	min-width: 1184px;;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 16px;
	box-sizing: border-box;
	margin-top: 93px;
	
}
