@import "./__title/lead__title.css";
@import "./__subtitle/lead__subtitle.css";
@import "./__image/lead__image.css";
@import "./__caption/lead__caption.css";



.lead{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 985px;
}

