.intro__text {
    display: flex;
    max-width: 692px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 34px;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .intro__text {
        max-width: 720px;
    }
}
