@import "./__container/cover__container.css";
@import "./__title/cover__title.css";
@import "./__subtitle/cover__subtitle.css";
@import "./__background/cover__background.css";

.cover{
 display: flex;
 justify-content:  center;
margin: 0;
padding: 0;
}