.page__cover {
    margin: 10px auto 0;
}

@media (max-width: 1279px) {
    .page__cover {
        margin-top: 10px;
    }
}

@media (max-width: 1023px) {
    .page__cover {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .page__cover {
        margin-top: 48px;
    }
}

@media (max-width: 450px) {
    .page__cover {
        margin-top: 60px;
    }
}
