.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 560px;
    text-align: center;
    color: #fffdfd;
    margin-top: 245px;
    margin-bottom: 0px;
}

@media (max-width: 1279px) {
    .cover__title {
        margin-top: 200px;
    }
}

@media (max-width: 1023px) {
    .cover__title {
        margin-top: 124px;
    }
}

@media (max-width: 767px) {
    .cover__title {
        margin-top: 10px;
        font-size: 32px;
        line-height: 35px;
        max-width: 343px;
    }
}

@media (max-width: 450px) {
    .cover__title {
        margin-top: 43px;
        max-width: 255px;
    }
}
