@import "./__container/places__container.css";
@import "./__image/place__image.css";
@import "./__link/place__link.css";
@import "./__url-heading/place__url-heading.css";
@import "./__website/place__website.css";
@import "./__paragraph-container/place__paragraph-container.css";
@import "./__paragraph/place__paragraph.css";
@import "./__title/place__title.css";

.place{
    display: grid;
    grid-template-columns: repeat(2, fit-content(1fr));
    grid-template-rows: repeat(2, fit-content(1fr));
    grid-gap: 40px 40px;
    margin: 0;
    padding-bottom: 80px;
    max-width: 984px;
    max-height: 584px;
    
}