.place {
    max-width: 984px;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 43px;
}

@media (max-width: 1023px) {
    .place {
        grid-row-gap: 43px;
    }
    
}
@media (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
    }
}