.footer {
    max-width: 1184px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .footer {
        min-height: 312px;

        padding-bottom: 24px;
        flex-direction: column;
    }
}
